<% if element[:error_or_warning] && errors_count < (element[:count_warning].to_i + element[:count_error].to_i + element[:count_info].to_i) %>
  <li class="ievkit-AccordionBlock-errorId">...<%= (element[:count_warning].to_i + element[:count_error].to_i + element[:count_info].to_i) - errors_count %> <%= t('report.total_results.count_more') %>.</li>
<% end %>
