<div class="btn-group pull-right" role="group">
  <% if @elements_to_paginate.any? %>
    <%=
      link_to @download_page,
              class: 'btn btn-primary',
              'data-toggle': 'tooltip',
              'data-placement': 'top',
              'title': t("report.download_by.#{@default_view}"),
              'data-no-turbolink': true do
        t('report.download')
      end
    %>
  <% end %>
</div>
<div class="btn-group pull-left" role="group">
  <%=
    link_to url_for(default_view: 'transport_datas'), class: "btn btn-#{@default_view == :transport_datas ? 'warning' : 'default'}" do
      t('report.default_view.transport_datas')
    end
  %>
  <%=
    link_to url_for(default_view: 'files'), class: "btn btn-#{@default_view == :files ? 'warning' : 'default'}" do
      t('report.default_view.files')
    end
  %>
  <%=
    link_to url_for(default_view: 'tests'), class: "btn btn-#{@default_view == :tests ? 'warning' : 'default'}" do
      t('report.default_view.tests')
    end
  %>
</div>
