.ievkit {
  &-AccordionBlock {
    ul {
      margin: 0;
      padding: 0;
      ul {
        padding-left: 31px;
      }
    }
    li {
      list-style: none;
    }
    /*
    .panel-title {
      > a {
        display: block;
      }
    }
    */
    &-details {
      border: none;
      background: none;
    }
    &-errorInfo {
      font-style: italic;
      font-size: smaller;
    }
    &-errorId {
      margin: 0 0 0 19px;
      font-weight: bold;
      &-detail {
        margin: 0 0 0 19px;
      }
    }
  }
  &-ColorBlock {
    &-ok, &-ok-sign {
      color: green;
    }
    &-ignored {
      color: #000;
    }
    &-alert, &-warning-sign {
      color: orange;
    }
    &-remove, &-minus-sign {
      color: red;
    }
  }
  &-BgColorBlock {
    &-ok, &-ok-sign {
      background-color: green !important;
    }
    &-ignored {
      background-color: #000 !important;
    }
    &-info {
      background-color: blue !important;
    }
    &-alert {
      background-color: orange !important;
    }
    &-remove, &-minus-sign {
      background-color: red !important;
    }
  }
  &-SearchBlock {
    margin: 20px 0;
    background-color: #eee;
    padding: 8px 16px;
    border: 1px solid #ddd;
    &-search {
      margin-right: 20px;
    }
    input[type=search] {
      width: 200px;
    }
  }
}
